@charset "UTF-8";
.name_print { padding: 0.3em; font-size:12px; color:#FFF; text-shadow:0px 0px 1px #000;}
.name_print:hover { color:#000; font-weight:700; text-decoration: underline; text-shadow:0px 0px 1px #000;}
.tnb a { padding: 0.3em; font-size:12px; color:#FFF; text-shadow:0px 0px 1px #000;}
.tnb a:hover { color:#000; font-weight:700; text-decoration: underline; text-shadow:0px 0px 1px #000;}